<footer class = "footer" > 
    <!-- insert an email box? -->
    <p>Copyright &copy 2024 Tia Fields</p>
    <!-- github link -->
    <ul class="social-list">
        <li class="social-list__item">
            <a class = "social-list__link" href="https://github.com/tiafields">
                <i class="fa-brands fa-github"></i>
            </a>
        </li> 
        <li class="social-list__item">
            <a class = "social-list__link" href="http:codepen.io">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="/contact.html">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </li>
    </ul>
</footer>