<div class="portfolio">
    <a href="/portfolio/furryfriends.html" class="portfolio__item">
        <img src="/img/portfolio-grid/furry-friends.png" alt="Furry Friends Cover Photo" class="portfolio__img">
    </a>
 
    <a href="/portfolio/southwest.html" class="portfolio__item">
       <img src="/img/portfolio-grid/southwest.png" alt="Redesign of Southwest Airlines App" class="portfolio__img">
   </a>

    <a href="/portfolio/lascrud.html" class="portfolio__item">
       <img src="/img/portfolio-grid/las-crud.png" alt="Lion Around Sewing Cover Photo" class="portfolio__img">
   </a>

    <a href="/portfolio/shoeconverter.html" class="portfolio__item">
       <img src="/img/portfolio-grid/shoe-size-converter.png" alt="Shoe Converter conver photo" class="portfolio__img">
   </a>

    <a href="https://tiafields.github.io/To_Do_List/" class="portfolio__item" target="_blank">
       <img src="/img/portfolio-grid/todo-screenshot-2.png" alt="Todo list app" class="portfolio__img">
   </a>
</div>