<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/ga.ejs') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tia Fields | Contact</title>
        <!-- Normalize link -->
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
            <!-- Font Awsome for icons -->
            <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Poppins:wght@300;400&family=Quicksand:wght@300;400;500;600&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- Link to CSS -->
    <link rel = "stylesheet" href="/css/style.css">
    <link rel = "stylesheet" href="/css/contact.css">
    
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="contact-section">
        <div class="contact-container">

            <div class="contact-left">
                <h2 class="contact-left-title">Collaborate and Connect!</h2>
    
                <p>Reach out and say hi.</p>
                
            </div>
    
            <div class="contact-right">
                <form action="https://api.web3forms.com/submit" method="POST" class="contact-right">
    
                    <input type="hidden" name="access_key" value="a2c1924c-2e0e-4d19-be42-3a1e1c49eceb">
                    <input type="text" name="Name" placeholder="Your Name" class="contact-inputs" required> 
                    <input type="email" name="Email" placeholder="Your Email" class="contact-inputs" required>
                    <input type="text" name="Subject" placeholder="Subject" class="contact-inputs" required> 
                    <textarea name="message" placeholder="Type your message here..." class="contact-inputs" required></textarea>
                    <button type = "submit">Submit</button> 
                </form>
            </div>
           
        </div>
    </section>
  
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <script src="/js/index.js"></script>
</body>
</html>