*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Custom Properties */
:root {
    --font-family: 'Poppins';
    --color-primary: #ffccdc;
    --color-primary-light: #9d6f7e;
    --input-width: 66vw;
    --input-height: 35px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font-family);
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;
}

/* Form Styling */
.contact-right{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;   
    margin-top: 0.5rem;
}
.contact-inputs{
    width: var(--input-width);
    height: var(--input-height);
    border:none;
    outline:none;
    padding-left:25px;
    font-weight: 500;
    color: #666;
    border-radius: 10px;
    font-family: var(--font-family);
}
.contact-right textarea{
    height: 140px;
    padding-top:15px;
    border-radius: 10px;
}
.contact-inputs:placeholder{
    color: #a9a9a9;
}
.contact textarea{
    height: 140px;
    padding-top:15px;
    border-radius: 50px;
}
.contact-inputs:focus{
    border: 3px solid var(--color-primary-light);
}
.contact-right button {
    display: inline-block;
    padding: .67em 1.5em;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    border: 0;
}
.contact-right button:hover {
    background-color: var(--clr-accent-light);
}

.contact-left {
    text-align: center;
}
.contact-left p {
    color: var(--color-primary-light);
}

.contact-form-inputs {
    background: var(--clr-accent);
    padding: 2rem;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

@media screen and (min-width: 360px) {
    .contact-left {
        text-align: initial;
    }
}
@media screen and (min-width: 800px) {
    :root {
        --input-width: 480px;
        --input-height: 50px;
    }
    .contact-left {
        text-align: initial;
    }
}
@media screen and (min-width: 1000px) {
    :root {
        --input-width: 600px;
    }
}