:root {
    --longform-width: 800px;
    --longform-vpad: 2em;
    --longform-color-text: #6a3e4b;
    --longform-color-heading: #391304;
    --longform-color-emph: #bb890c;
}

.longform {
    color: var(--longform-color-text);
}
.longform h2 {
    text-align: center;
    font-size: 2.75rem;
}
.longform h3 {
    color: var(--longform-color-heading);
}
.longform em {
    color: var(--longform-color-emph);
}

.longform-content,
.longform-textblock,
.longform-imgblock {
    width: 100vw;
    box-sizing: border-box;
}

.longform-imgblock {
    padding: var(--longform-vpad);
    display: flex;
    flex-direction: column;
}

.longform-content,
.longform-textblock {
    padding: var(--longform-vpad) calc((100vw - var(--longform-width)) / 2);
}

.longform-textblock {
    background-color: var(--block-color);
    color: oklch(from var(--block-color) calc(l - 40) c h);
}

.longform-imgblock,
.longform-textblock {
    align-items: center;
}

.longform-content--split {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.longform-content--wide {
    padding-left: calc((100vw - var(--longform-width)) / 4);
    padding-right: calc((100vw - var(--longform-width)) / 4);
}

.longform-quote {
    font-style: italic;
}

.longform-quote:before {
    content: "“";
}
.longform-quote:after {
    content: "”";
}

.longform-link {
    display: inline-block;
    padding: .67em 1.5em;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--clr-accent);
    color: #111;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
.longform-link:hover {
    background-color: oklch(from var(--clr-accent) calc(l + 5) calc(c + 0.02) h);
}

.longform-img--medium {
    max-height: 600px;
}
.longform-img--large {
    max-height: 900px;
}

.stepper-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.stepper-step {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.stepper-number {
    padding: 1.2rem;
    border-radius: 50%;
    border: 2px solid var(--clr-accent);
    color: var(--clr-dark-dim);
    background-color: transparent;
    transition: all .3s ease-in-out;
    line-height: 1;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
}

.stepper-label {
    transition: all .3s ease-in-out;
    color: var(--clr-dark-dim);
    line-height: 1;
}
