*,
*::before
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-primary: 'Poppins', 'Source Sans Pro', sans-serif;
    --ff-secondary:'Poppins', 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ffccdc;/* #ffdbe9; */ /* #16e0bd;  */
    --clr-accent-light: #ffd7ed;
    --clr-btn-bg: #efefef;
    --clr-dark-dim: #747474;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bxshdw: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,0);
}

@media (min-width:800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Sytles */

html {
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: clip;
}

section{
    padding: 5em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: bold;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}
/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    margin-right: 3.5rem;
}

.section__title--intro strong {
    display: block;
}

.section__heading {
    font-size: var(--fs-h2);
    font-weight: bold;
    color: var(--clr-dark);
}

.section__subheading {
    margin: 0.5rem 0;
    color: var(--clr-dark-dim);
    font-size: var(--fs-h3);
    font-weight: bold;
    line-height: 1.2;
}

.section__infobox {
    margin: 0; 
    font-size: var(--fs-h3);
    word-wrap: break-word;
}

.section__infobox--intro,
.section__infobox--about,
.section__infobox--portfolio-individual {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    border-radius: 10px;
}

.section__infobox--portfolio-individual a {
    color: var(--clr-dark);
}

.section__infobox--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 500;
    transition: background-color 250ms ease-in-out;
    align-items: center;
}
.header--scrolled,
.header--show-bg {
    background-color: var(--clr-dark);
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: calc(.5em + 6px) .5em;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    border-radius: 3px;
    transition: background-color 250ms ease-in-out;
}

.nav-toggle:hover {
    background-color: color-mix(in srgb, var(--clr-btn-bg) 50%, white);
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translatex(-6px);
}
.nav-open .hamburger::after {
    opacity: 0;
}
.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}


/* Intro Section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bxshdw);
    border-radius: 5px;
}

.section__infobox--intro {
    display: inline-block;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;   
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative; 
        z-index: 2;
    }

    .section__infobox--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2; 
        text-align: right;
        position: relative; 
        left: -1.5em;
        width: calc(100% + 1.5em);

    }
}

/* My Services Section */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display:block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.services a {
    color: var(--clr-accent);
}

.service {
    max-width: 500px;
    margin: 0 auto;
    flex-basis: 33%;
    flex-grow: 1;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000;
        margin-left: auto; 
        margin-right: auto;
        flex-direction: row;
    }
    .service + .service {
        margin-left: 2em;
    }
}
/* About Me */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bxshdw);
}
@media (min-width: 600px) {
    .section__infobox--about {
        grid-column: 1 / -1;
        grid-row: 2; 
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__item--pink-bg {
    background: linear-gradient(135deg, #ffd1e0, hsl(341 100% 99% / 1));
}

.portfolio__item--dark-bg {
    background-color: var(--clr-dark);
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    width: 100%;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover, 
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a { 
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-h3);
     }

.footer__link{
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style:none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__iten {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* Idividual portfolio item styles  */

.portfolio-individual-item {
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-individual-item--no-pad-bot {
    padding-bottom: 0;
}

.portfolio-individual__img {
    box-shadow: var(--bxshdw);
}
.portfolio-individual__img--border {
    border: 3px solid #3f3f50;
    border-radius: 6px;
}

@media (min-width: 600px) {
    .portfolio-individual-item--grid {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .portfolio-individual-item--grid .section__title--portfolio-individual {
        grid-area: title;
    
    }

    .portfolio-individual-item .section__infobox--portfolio-individual {
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .portfolio-individual-item--grid .section__infobox--portfolio-individual {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .portfolio-individual-item--grid .portfolio-individual__img,
    .portfolio-individual-item--grid .portfolio-individual__video {
        grid-area: img; 
        position: relative;
        z-index: 2;
    }
}

.home p {
    margin: 1rem 0;
}

.pt0 {
    padding-top: 0 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt1 {
    margin-top: 0.5rem !important;
}
.mt2 {
    margin-top: 1rem !important;
}
