<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tia's Portfolio Website</title>
    <!-- Normalize link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Font Awsome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Poppins:wght@300;400&family=Quicksand:wght@300;400;500;600&family=Source+Code+Pro&display=swap"
        rel="stylesheet">

    <!-- Style.css Link -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/longform.css">


</head>

<body>
    <%- include('../partials/header.ejs') %>


    <!-- Portfolio Individual Item -->

    <!-- figure out where you want source ode to be and git hub symbol -->
    <section class="portfolio-individual-item portfolio-individual-item--grid portfolio-individual-item--no-pad-bot"
        id="portfolio-individual">
        <div class="section__title section__title--portfolio-individual">
            <h1 class="section__heading">Furry Friends</h1>
            <p class="section__subheading">A Web Application that keeps track of Dog Profiles for House Sitting Gigs</p>
        </div>
        <p class="section__infobox section__infobox--portfolio-individual">
            Role: Full Stack Developer <br>
            Source Code:
            <a class="social-list__link" target="_blank" href="https://github.com/tiafields/Furry-Friends">
                <i class="fa-brands fa-github"></i>
            </a>
        </p>

        <div class="portfolio-individual__body">
            <p>Last year I started working at a dog grooming shop part time where they offer daycare and boarding.
                Many clients want their
                furry friends to have more attention than the facility can offer. I took this as an opportunity to
                creat a business card and started dog sitting on the side.
            </p>

            <p>I accumulated multiple clients that I could not memorize all the information and details of the dogs.
                Which is why I decided to create an
                a web application that helps dog sitters keep track of their client's and furry freinds data. </p>
            </p>

            <p>This applicaiton allows the user to fill out a form with all the information necessary to take care
                of the dogs. It will then
                add the form to a collection of all the dogs the user has aquired. Listing all the clients you have
                on a separate page. You can then delete the dogs data afterward. </p>
        </div>

        <img
            src="/img/furry-friends-prototype/client-details-1_0.png"
            alt="Furry Friends client details example page"
            class="portfolio-individual__img portfolio-individual__img--border"
        /> 
    </section>

    <div class="longform">
        <section class="longform-textblock" style="--block-color: #ffccdc">
            <h3>UX Research | Design Case Study</h3>
        </section>
        <section class="longform-content">
            <h3>Background</h3>
            <ul>
                <li><b>Role</b>: Sole UX Researcher and Designer</li>
                <li><b>Timeline</b>: ___weeks ___hours</li>
                <li><b>Responsibility</b>: End-to-end app design</li>
                <li><b>Tools</b>: Figma, Miro, Google Docs, Google Sheets, Zoom</li>
            </ul>
            <p><em>This is a concept study.</em></p>
        </section>
        <section class="longform-content">
            <h3>The Problem</h3>
            <p>Often pet owners go on vacation and instead of boarding their pets they search for a house sitter to keep their animal in a familiar, comfortable environment. Many dog sitters can have several clients and need a way to log this information, as well as contact clients, and maintain their dog sitting schedule.</p>
            <p>For this project, I designed an app to allow pet sitters to log and maintain data of all of their canines and clients. This application will also allow the pet sitter to create and maintain a schedule of all the dogs they are watching, and have in-app messaging to allow the user to contact the client if necessary.</p>
        </section>
        <section class="longform-content">
            <h2>The Solution</h2>
            <p>Furry Friends allows independent dog sitters to log canine and client data. It also provides a scheduling feature for the user to maintain their gigs, and an in-app messaging feature for users to contact clients.</p>
            <p><a class="longform-link" target="_blank" href="#">todo: LINK TO INTERACTIVE PROTOTYPE</a></p>
        </section>
        <section class="longform-content">
            <h3>About Pet Sitters</h3>
            <p>How do pet sitters currently keep track of the dogs they are sitting for?</p>
            <p>Dog sitters can log or keep notes of clients in their phone, in a notebook, or computer.</p>
        </section>
        <section class="longform-content">
            <h3>The Process</h3>
            <ol>
                <li>Discover</li>
                <li>Define</li>
                <li>Ideate</li>
                <li>Test</li>
                <li>Prototype</li>
                <li>Test Again</li>
            </ol>
        </section>
        <section class="longform-content">
            <h3>Research Plan</h3>
            <p><a class="longform-link" target="_blank" href="https://docs.google.com/document/d/1_vktP4nsf-DWU73KbWGTV5_Celymla8smjfgcgnZK1o/edit">View research plan</a></p>
        </section>
        <section class="longform-textblock" style="--block-color: #ffccdc">
            <h3>Research Methodology</h3>
        </section>
        
        <section class="longform-content">
            <h3>Competitive Analysis</h3>
            <p>All applications are used for scheduling dogs or house sitters. Most applications provide similar features, but the main differences in services provided by the applications. Each application is missing features for an independent dog sitter. Below are features that could benefit the application.</p>
            <ul>
                <li><b>Scheduling</b>: Can help the sitter keep track of dates and exterminate overlap with other clients.</li>
                <li><b>Dog details page with visualization</b>: Graphics can help the user feel less overwhelmed with words and content.</li>
                <li><b>Searchable database</b>: This will make it easier for the sitter to search clients and dogs.</li>
                <li><b>Color scheme to match branding</b>: Creating an application with a thoughtful color scheme to match the brand will help reinforce and distinguish the brand identity.</li>
            </ul>
            <p><a class="longform-link" target="_blank" href="https://docs.google.com/spreadsheets/d/1ltpMNkwjqIoDgt84EAlof8RSmIfjEnxQqh85xDcqDF0/edit#gid=0">View competitive analysis</a></p>
        </section>
        
        <section class="longform-content">
            <h3>User Interviews</h3>
            <p>How do pet sitters decide what they need in a canine/client profile hub?</p>
            <p>Three interviews were conducted with users who have watched dogs before. Users were asked about house sitting tasks, dog demographics, interactions with the owner, how they handle scheduling, familiarity with technology and other applications they use to manage data.</p>
            <ul>
                <li><b>Needs/Wants:</b> Application that has an internal schedule builder and messaging system, Application that notes the details of the Veterinary information, and a reminder section to note when the dog sitting gigs are.</li>
                <li><b>Pain points:</b> Applications do not allow for events unrelated to the dog gigs, a place for notes for clients, applications take too much commission for dog gigs.</li>
            </ul>
            <p><a class="longform-link" target="_blank" href="https://docs.google.com/spreadsheets/d/1dRQtbotCkwB__C6CacCq2B3nCd7VY_p2Isud9hudga4/edit#gid=0">View user interviews</a></p>
        </section>
        
        <section class="longform-content">
            <h3>Research Takeaways</h3>
            <p>After combining all the data and insights from the research, here are some considerations for the feature roadmap:</p>
            <ul>
                <li><b>Log incidents</b>: To log information quickly with customization options.</li>
                <li><b>Data visualization</b>: Ability to prioritize data and have different displays.</li>
                <li><b>Collaboration</b>: To help care-takers communicate for continuity of care.</li>
            </ul>
            <p><a class="longform-link" target="_blank" href="#">todo: View executive summary</a></p>
        </section>
        
        <section class="longform-content">
            <h3>Persona</h3>
            <p>Katie wants an application where she can maintain and store her dog sitting data. She wants to be able to control her own schedule, and track her clients, and be given reminders of when her next gig is. She desires an application that does not cut into her commission.</p>
            <p>Based on the research, a user persona, Katie Jackson, was created to represent the target user. This will be the direction for designing the solution.</p>
        </section>

        <section class="longform-imgblock pt0">
            <img class="longform-img--medium" src="/img/furry-friends-prototype/persona.png" />
        </section>
        
        <section class="longform-content">
            <h3>Product Requirements</h3>
            <p><b>How might we help dog sitters:</b></p>
            <ul>
                <li>Log and Maintain data of canine and clients</li>
                <li>Keep track of which dogs they are sitting and when</li>
                <li>Contact clients through a messaging system</li>
            </ul>
            <p>What are the requirements for this application? How do we make these a priority?</p>
            <p>Based on user research and the How might we statements, I focused on what would benefit sitters with their future house sitting gigs by focusing on:</p>
            <ul>
                <li>Login</li>
                <li>Messaging Feature</li>
                <li>Creating and Searching Dog Entries / Owner Entries and expanding profile card</li>
                <li>Schedule Feature</li>
                <li>Home / Logout</li>
            </ul>
            <p><a class="longform-link" target="_blank" href="https://docs.google.com/document/d/1uFOeCwlCYp_4yZodYFNL0JubpE0kGTJMjIJ_Ec7cJH0/edit">View product requirements</a></p>
        </section>
        
        <section class="longform-content">
            <h3>Site Map</h3>
            <p>How might we construct and organize the information so users can log client and canine information, contact clients, and maintain their dog sitting schedule?</p>
            <p>By mapping out the main categories, I was able to separate the application into sections that allow users easy access to key content.</p>
        </section>
        
        <section class="longform-content">
            <h3>Wireframes Version 1</h3>
            <p>What potential features can be constructed for the user to have a simplistic and useful experience?</p>
            <p>After sketching out solutions the best features were chosen to create wireframes for the data and scheduling process.</p>
            <p>Features include:</p>
            <ul>
                <li>Home button embedded with the logo to show upcoming gigs</li>
                <li>Separating out client and canine information for easy data filtration</li>
                <li>Creating an internal messaging app which has several points of access</li>
                <li>Calendar with upcoming events that can be sorted</li>
            </ul>
        </section>
    </div>

    <!-- My Work -->
    <section class="my-work" id="work">
        <h2 class="section__title section__title--work">My Work</h2>
        <p class="section__infobox section__infobox--work">A selection of my range of work</p>

        <%- include('../partials/portfolio-grid.ejs') %>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

    <script src="/js/project.js"></script>

</body>

</html>