<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tia's Portfolio Website</title>
        <!-- Normalize link -->
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
            <!-- Font Awsome for icons -->
            <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Poppins:wght@300;400&family=Quicksand:wght@300;400;500;600&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- Style.css Link -->
    <link rel="stylesheet" href="/css/style.css">

</head>
    <body>
        <%- include('../partials/header.ejs') %>
       
       <!-- Portfolio Individual Item -->

       <!-- figure out where you want source ode to be and git hub symbol -->
       <section class="portfolio-individual-item portfolio-individual-item--grid" id="portfolio-individual">
            <h2 class="section__title section__title--portfolio-individual">Shoe Size Conversion Application in Python</h2>
            <p class="section__infobox section__infobox--portfolio-individual">
                Role: Full Stack Developer and Tkinter GUI Designer<br>
                Source Code:
                <a class = "social-list__link" target="_blank" href="https://github.com/tiafields/Shoe-Size-Converter">
                    <i class="fa-brands fa-github"></i>
                </a>
            </p>

            <div class="portfolio-individual__body">
                <p> When traveling abroad in London with a friend. She was in need of a new pair of shoes. 
                    Although it is easy to search online for a shoe conversion the idea struck me and I said 
                    “What if there was an application for this?”</p>

                <p>My very first coding project created as a final for a software development class
                    out of my certification for Ivy Tech I created a web application in Python Tkinter to convert American 
                    Shoe Sizes to European Shoe Sizes and vise versa. This would include Male and Female sizes as the shoe sizes 
                    for gender vary. </p>
                    
                <p>With this application the user is able to enter the shoe size in the text field and press the “convert to” 
                    button and it will output the other countries shoe size below. </p>
                    
                <p>It will then store all of the data the user has typed into an external window titled “Your Conversions” 
                    You can then close this window and clear your entries and start the process again. </p>
            </div>
        
        <img src="/img/shoe-converters.png" alt="Shoe Conversion Application Image" class="portfolio-individual__img" > <br>
        <img src="/img/shoe-converter-results.png" alt="Shoe Conversion Application Image" class="portfolio-individual__img" >
       </section>

       <!-- My Work -->
       <section class="my-work" id="work">
            <h2 class="section__title section__title--work" >My Work</h2>
            <p class="section__infobox section__infobox--work">A selection of my range of work</p>

            <%- include('../partials/portfolio-grid.ejs') %>
       </section>

       <!-- Footer -->
       <%- include('../partials/footer.ejs') %>

       <script src="/js/project.js"></script>
       
    </body>
</html>
